
.idea/

/cache/*
!/cache/index.html

/program/cache/*.php
!/program/cache/index.html
/program/cache/sessions/*
!/program/cache/sessions/index.html

/config/*
!/config/.htaccess
!/config/index.html

/logs/*
!/logs/.htaccess
!/logs/index.html

/slicesPhp/*
!/slicesPhp/.htaccess
!/slicesPhp/index.html


